api:
  dashboard: false
# Set Access logs timezone
log:
  format: json
  level: INFO
accessLog:
  filePath: /config/logs/traefik.log
  format: json
  filters:
    statusCodes:
      - "200-299"
      - "400-599"
  # collect logs as in-memory buffer before writing into log file
  bufferingSize: 0
  fields:
    headers:
      defaultMode: drop # drop all headers per default
      names:
        User-Agent: keep # log user agent strings
providers:
  docker:
    endpoint: "tcp://socket-proxy:2375"
    network: "traefik-network"
    exposedByDefault: false # Only expose explicitly enabled containers
  file:
    directory: /etc/traefik/custom
    watch: true
entryPoints:
  insecure:
    address: ":80"
  secure:
    address: ":443"
    http:
      tls:
        certResolver: le
      middlewares:
        - security-headers@file
        - crowdsec@file
metrics:
  prometheus:
    entryPoint: insecure
# Allow self-signed certificates for https backends (nextcloud for example)
serversTransport:
  insecureSkipVerify: true
certificatesResolvers:
  le:
    acme:
      storage: /config/acme.json
      dnsChallenge:
        provider: ovh
        delayBeforeCheck: "0"
experimental:
  plugins:
    bouncer:
      moduleName: github.com/maxlerebourg/crowdsec-bouncer-traefik-plugin
      version: v1.4.1
