services:
  traefik:
    image: traefik
    container_name: traefik
    command:
      - --certificatesresolvers.le.acme.email=${ACME_MAIL}
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./traefik:/etc/traefik:ro
      - traefik-config:/config
    environment:
      DOCKER_HOST: tcp://socket-proxy:2375
      TRAEFIK_DOMAIN: ${TRAEFIK_DOMAIN}
      TZ: ${TZ}
    networks:
      default:
        ipv4_address: 172.18.0.250
    depends_on:
      - socket-proxy
      - crowdsec
      - authelia
    restart: unless-stopped
  
  traefik-prometheus:
    container_name: traefik-prometheus
    image: prom/prometheus:latest
    user: ${PUID}:${PGID}
    command:
      - "--config.file=/prometheus/prometheus.yml"
    volumes:
      - traefik-prometheus-config:/prometheus
    restart: unless-stopped

volumes:
  traefik-config:
    driver: local-persist
    driver_opts:
      mountpoint: $HOST_CONFIG_PATH/traefik
  traefik-prometheus-config:
    driver: local-persist
    driver_opts:
      mountpoint: $HOST_CONFIG_PATH/traefik-prometheus
