services:
  traefik:
    image: traefik
    container_name: traefik
    command:
      - --certificatesresolvers.le.acme.email=${ACME_MAIL}
    ports:
      - "8080:80"
      - "8443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik:/etc/traefik:ro
      - traefik-config:/config
    environment:
      TRAEFIK_DOMAIN: ${TRAEFIK_DOMAIN}
      TZ: ${TZ}
    networks:
      default:
        ipv4_address: 172.18.0.250
    depends_on:
      - socket-proxy
      - crowdsec
      - authelia
    restart: unless-stopped

volumes:
  traefik-config:
    driver: local-persist
    driver_opts:
      mountpoint: $HOST_CONFIG_PATH/traefik
